::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 6px;
  }
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary5);
  // border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary6);
}
